@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}

#app {
  padding: 5rem 0;
  background-color: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
}

.container {
  width: 50%;
}
.container .heading {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 600;
}
.container .list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.container .list .item {
  width: 45%;
  max-width: 30rem;
  margin: 5px;
  padding: 0;
  border-radius: 8px;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}
.container .list .item a {
  display: block;
  padding: 1rem 2rem;
  color: #fff;
}
.container .list .item:hover {
  background-color: #5c5dfb;
  background-image: linear-gradient(147deg, #5c5dfb 0%, #ff2525 74%);
}
.container .list .item:hover a {
  color: #fff;
}