@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    270deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

#search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  border-radius: 1.5rem;
  overflow: hidden;
  gap: 0;
  #search {
    height: 7rem;
    max-width: 35rem;
    width: 0;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: #242628;
    color: #ededed;
    font-size: 4rem;
    transition: all 0.35s ease-out;
    will-change: width, padding;
  }
  .open {
    width: 35rem !important;
    padding: 0 3.4rem !important;
  }
  .btn {
    height: 100%;
    width: 7rem;
    border: none;
    font-size: 3.2rem;
    color: #242628;
    background-color: #f0f0f0;
    cursor: pointer;
  }
}
