@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}

#app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #999;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

h1 {
  margin-bottom: 5rem;
}

.process {
  height: 5rem;
  width: 60rem;
  border-radius: 90px;
  border: 1px solid #999;
  background-color: #fff;
  cursor: w-resize;
  overflow: hidden;
}
.process .range {
  display: inline-block;
  height: 5rem;
  width: 20rem;
  line-height: 5rem;
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
  background: rgb(2, 0, 36);
  background: -webkit-gradient(linear, right top, left top, from(rgb(2, 0, 36)), color-stop(0%, rgb(9, 9, 121)), to(rgb(0, 212, 255)));
  background: linear-gradient(270deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 0%, rgb(0, 212, 255) 100%);
}